body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
ul{ 
	display: flex;
	list-style: none;
}
nav >ul> img{
	height: 50px;
	padding-top: 5px;
}
nav{
	margin-top: -16px;
	height: 60px;
	background-color: #dfdc5d;
}
.sticky {
	position: fixed;
	width: 100%;
	height: 75px;
	z-index: 1;
  }
li{
	padding: 20.5px;
}
li:hover{
	background-color: #d4d242;
}
a{
	color: white;
	text-decoration: none;
}
.video{
 text-align: center;
 padding: 20px;
 background: #dad9c3;
 background-image: url(image/FotoFasilitas/gerbangutama.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
}
.videosticky{
	padding-top: 80px;
}
.Welcomeboard > img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 50px;

}
.Welcomeboard > h1{
	text-align: center;
	padding-top: 20px;
}
.Katapengantar{
	display: flex;
}
.Katapengantar > div{
	width: 50%;
	background-color: hsl(57, 100%, 91%);
}
.Katapengantar > div > h2{
	text-align: center;
}
.Katapengantar > div > p{
	text-align: justify;
}
.p1{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
.p2{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.caritahulebihlanjut > h3{
	text-align: center;
}
.tombol > a{
	color: black;
	background-color: #d6d325;
	padding: 20px;
	border-radius: 10px;
}

.tombol > a:hover{
	background-color: #adab1f;
	color: white;
}
.tombol {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

footer > p{
	text-align: center;
}