body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
ul{ 
	display: flex;
	list-style: none;
}
nav >ul> img{
	height: 50px;
	padding-top: 5px;
}
nav{

	height: 60px;
	background-color: #dfdc5d;
}
li{
	padding: 18px;
}
li:hover{
	background-color: #d4d242;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;
}
.title{
	text-align: center;
	margin-top: 50px;
}
.gambar{
	display: flex;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 30px;
	padding: 20px;
	background-color: #dad9ad;
	border-radius: 10px;
}
img{
	border-radius: 10px;

}
h5{
	text-align: center;
}
h3{
	font-size: 20px;
	margin-left: 30px;
}
h2{
	margin-bottom: 30px;
}
.caritahulebihlanjut > h3{
	text-align: center;
}
.tombol > a{
	color: black;
	background-color: #d6d325;
	padding: 20px;
	border-radius: 10px;
}

.tombol > a:hover{
	background-color: #adab1f;
	color: white;
}
.tombol {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
footer > p{
	text-align: center;
}